# ignore build products

*.sdf
*.suo
*.user
*.opensdf
/src/win8.1/cpp/Debug
/src/win8.1/cpp/Release
/src/win8.1/cpp/ipch
/src/win8.1/cs/bin
/src/win8.1/cs/obj
/src/win8.1/vb/bin
/src/win8.1/vb/obj
/src/win8.1/memory/ipch
/src/win8.1/memory/Debug
/src/win8.1/memory/Release
/src/win10/ie/cpp/Debug
/src/win10/ie/cpp/Release
/src/win10/ie/cpp/ipch
/src/win10/ie/cs/bin
/src/win10/ie/cs/obj
/src/win10/ie/vb/bin
/src/win10/ie/vb/obj
/src/win10/ie/memory/ipch
/src/win10/ie/memory/Debug
/src/win10/ie/memory/Release
/src/win10/edge/cpp/Debug
/src/win10/edge/cpp/Release
/src/win10/edge/cpp/ipch
/src/win10/edge/cs/bin
/src/win10/edge/cs/obj
/src/win10/edge/vb/bin
/src/win10/edge/vb/obj
/src/win10/edge/memory/ipch
/src/win10/edge/memory/Debug
/src/win10/edge/memory/Release
