# ignore build products

*.sdf
*.suo
*.user
/src/cpp/Debug
/src/cpp/Release
/src/cpp/ipch
/src/cs/bin
/src/cs/obj
/src/vb/bin
/src/vb/obj
/src/memory/ipch
/src/memory/Debug
/src/memory/Release
